<div id="userpage-master-container">
    <div id="userpage-column">
        <div id="userpage-userthumb">
            <p>Image of user here</p>
            <p>firstname here{{user.firstname}}</p>
        </div>
        <button id="userpage-nav-dashboard">Dashboard</button>
        <button id="userpage-nav-saved">Saved Routes</button>
        <button id="userpage-nav-log">Ride Log</button>
        <button id="userpage-nav-collections">Collections</button>
        <button id="userpage-nav-settings">Settings</button>
    </div>

    <div id="userpage-info">
        <div id="user-banner">
            <p>Welcome {{user.username}}, you've logged ###km this month</p>
        </div>

        <div id="userpage-display-container">
            <p>Saved route is displayed here</p>
            <p>When an element on the left is changed, this is where it appears</p>
        </div>
    </div>
</div>