/* Map Page CSS */
#map-page-master-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 28px;
    border: 2px black solid;
    border-radius: 5px;
}

#mappagecolumn {
    background-color: bisque;
    border: 2px black solid;
    width: 25%;
    height: 90vh;
    border: 2px white solid;
    background-color: white;
}

#mappage-routeinfo-name {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
}

#mappage-routename-area {
    width: 250px;
    height: 50px;
    resize: none;
}

#mappage-routeinfo-distance {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
}

#mappage-routeinfo-ttcomplete {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
}

#mappagecolumn-nav-btns {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
}

#mappagecolumn-nav-btns>button {
    border: 2px black solid;
    width: 40%;
    height: 50px;
    margin-top: 8px;
    border-radius: 5px;
    box-shadow: 5px 5px gainsboro;

}

#mappagecolumn-nav-btns>button:hover {
    cursor: pointer;
    background-color: grey;
    color: white;
    box-shadow: none;
}

#map {
    border: 2px black solid;
    width: 75%;
    height: 90vh;
}