/* Root CSS */

#nav-bar {
    background-color: #D96E30;
    display: flex;
    justify-content: space-evenly;
    height: 80px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#logo-container {
    position: relative;
    left: 0;
    width: 14%;
}

#logo-img {
    border-radius: 5px;
    height: 148px;
}

#top-root-nav {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;

}

.navigation-li {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 0px;
    padding-bottom: 0px;
    border-radius: 5px;
    border: 2px solid #21502C;
    transition: 0.5s;
    margin: 8px;
}

.navigation-li:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.474);
    color: black;
}

#bottom-nav-bar {
    display: flex;
    flex-direction: row;
    /* justify-content: space-evenly; */
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top: 2px solid black;
    padding: 0;
    background-color: #BF372A
}


#login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#btn-login {
    border-radius: 5px;
    border: 2px solid #21502C;
    background-color: #FFDE59;
    color: #21502C;
    padding: 8px;
    transition: 0.5s;
}

#btn-login:hover {
    background-color: rgba(255, 255, 255, 0.474);
    color: black;
}

#btn-logout {
    border-radius: 5px;
    border: 2px solid #21502C;
    background-color: #FFDE59;
    color: #21502C;
    margin-top: 8px;
    padding: 8px;
    transition: 0.5s;
}

#btn-login:hover {
    background-color: rgba(255, 255, 255, 0.474);
    color: black;
}

/* Login / Register form */
#login-dialog {
    background-color: bisque;
    border: 2px solid black;
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 8px;
}

#login-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#login-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 2px solid black;
    width: 40%;
    height: 100%;
    margin-right: 8px;
}

#register-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 2px solid black;
    width: 40%;
    height: 100%;
    margin-left: 8px;
}

.userform {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 8px;
}

/* Make this 100% of the screenview */
/* don't forget */
#logindialog-background {
    position: absolute;
    display: none;
    top: 0;
    height: 99%;
    width: 99%;
    padding: 0;
    margin: 0px;
    border: 2px solid black;
    background-color: rgb(255, 228, 196);
    z-index: 1;
}

#exitlogin {
    position: absolute;
    top: 8px;
    right: 8px;
}

footer {
    background-color: #BF372A;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
    width: 100%;
    border: 2px #21502C solid;
    border-radius: 5px;
    height: 80px;

}

/* Weather stuff */
#weatherbar {
    display: flex;
    margin-left: 300px;
    position: relative;
}

#aqibar {
    display: flex;
    flex-direction: column;
    margin-left: 60px;
    position: relative;
}

#aqibar-index {
    font-size: 12px;
}

#aqibar-bottom-container {
    display: flex;

}

#weathericon {
    margin: 0;
    padding: 0;
    height: 75px;
}



/* .weatherdd-content span {
    color: black;
    padding: 4px 8px;
    /* Decreased padding for less space between lines */
/* display: block;
}

.weatherdd:hover .weatherdd-content {
    display: block;
}

.weatherdd-content li:hover {
    background-color: #9bd98a81;
    color: black;
    border-radius: 5px;
    text-decoration: underline;
} */