/* Root CSS */
#nav-bar {
	background-color: aqua;
}

#root-nav {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	padding: 0;
}

ul>li:hover {
	background-color: #9bd98a81;
	color: black;
	border-radius: 5px;
	text-decoration: underline;
}

/* Landing CSS */
#landing-master-container {
	background-color: brown;
}

/* Map Page CSS */
#map-page-master-container {
	background-color: bisque;
}

/* Info page CSS */
#info-master-container {
	background-color: blue;
}

/* Contact page CSS */
#contact-master-container {
	background-color: blanchedalmond;
}