/* Universal CSS */
html {
    color-scheme: light dark;
    background-color: #ffde5974;
}

/* #container {
    width: min(65ch, 100% - 4rem);
    margin-inline: auto;
} */

body {
    font-family: system-ui;
    font-size: 1.125rem;
    line-height: 1.6;
    box-sizing: border-box;
}

img,
picture,
svg {
    max-width: 100%;
    display: block;
}