#userpage-master-container {
    border: 2px solid #21502C;
    height: 700px;
    display: flex;
    flex-direction: row;
    margin-top: 8px;
    border-radius: 5px;
}

#userpage-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10%;
    background-color: rgba(255, 255, 255, 0.712);
}

#userpage-userthumb {
    width: 90%;
    height: 150px;
    position: relative;
}

#userpage-column>button {
    border: #21502C 2px solid;
    width: 95%;
    height: 50px;
    margin-top: 5px;
    background-color: #FFDE59;
    border-radius: 5px;
    box-shadow: 2px 2px rgb(110, 109, 109);
    transition: 1s;
}

#userpage-column>button:hover {
    cursor: pointer;
    background-color: #21502C;
    color: white;
    box-shadow: 2px 2px rgb(110, 109, 109);
}

#userpage-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-left: #21502C 2px solid;
    background-color: rgba(255, 255, 255, 0.712);
}

#user-banner {
    border: black 2px solid;
}

#user-route {
    text-align: center;
    vertical-align: middle;
}

#userpageSettings-profileimage {
    width: 250px;
    height: 250px;
}