#userpage-master-container {
    border: 2px solid black;
    height: 700px;
    display: flex;
    flex-direction: row;
}

#userpage-column {
    display: flex;
    flex-direction: column;
    width: 10%;
    border: black 2px solid;
    background-color: rgba(255, 255, 255, 0.712);
    border-radius: 5px;
}

#userpage-userthumb {
    border: black 2px solid;
    width: 100%;
    height: 150px;
    position: relative;
}

#userpage-column>button {
    border: black 2px solid;
    width: 100%;
    height: 50px;
    margin-top: 5px;
    background-color: rgba(255, 255, 255, 0.712);
    border-radius: 5px;
    box-shadow: 5px 5px rgb(110, 109, 109);
}

#userpage-column>button:hover {
    cursor: pointer;
    background-color: grey;
    color: white;
    box-shadow: none;
}

#userpage-info {
    display: flex;
    flex-direction: column;
    width: 80%;
    border: black 2px solid;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.712);
}

#user-banner {
    border: black 2px solid;
}

#user-route {
    text-align: center;
    vertical-align: middle;
}