<div id="aqibar">

    <div id="aqibar-bottom-container">
        <p>AQI: {{aqi}} &nbsp&nbsp</p>
        <p>PM2.5: {{pm2_5}}&nbsp&nbsp</p>
        <p>PM10: {{pm10}}&nbsp&nbsp</p>
    </div>
    <div id="aqibar-index">*Air Quality Index. Possible values: 1, 2, 3, 4, 5. Where 1 = Good, 2 = Fair, 3 = Moderate, 4
        =
        Poor, 5 = Very
        Poor.*</div>
</div>