<div id="info-master-container">
    {{!-- <p>Info page</p> --}}
    <div id="info-big-container">
        <div id="info-big-top-container">
            <div class="info-small-container">
                <button class="info-togglebtn">MAP</button>
                <div class="info-wrapper">
                    <div class="info-expandable">
                        <span>*Shows map.</span>
                        <span>*Show markers (POI, Events, Landmarks).</span>
                        <span>*Measure route distance from the starting point.</span>
                        <span>*Virtual tours.</span>
                    </div>
                </div>
            </div>
            <div class="info-small-container">
                <button class="info-togglebtn">UI</button>
                <div class="info-wrapper">
                    <div class="info-expandable">
                        <span>*Create an account with a password, upload profile picture and create a
                            mini-biography.</span>
                        <span>*Chat with other users either by forum or DM.</span>
                        <span>*Rate different routes.</span>
                        <span>*Shows different cycling routes on a map to reach end-point.</span>
                    </div>
                </div>
            </div>
            <div class="info-small-container">
                <button class="info-togglebtn">Weather</button>
                <div class="info-wrapper">
                    <div class="info-expandable">
                        <span>*Tracks weather and pollen levels for the area.</span>
                    </div>
                </div>
            </div>
            <div class="info-small-container">
                <button class="info-togglebtn">Route</button>
                <div class="info-wrapper">
                    <div class="info-expandable">
                        <span>*Saves previous routes*</span>
                    </div>
                </div>
            </div>
        </div>
        {{!-- <div id="info-big-bottom-container">
            <div class="info-small-container">
                <button class="info-togglebtn">Feature E</button>
                <div class="info-wrapper">
                    <div class="info-expandable">The sun was setting on the horizon, casting a golden glow over the
                        tranquil
                        meadow.
                        Birds chirped in the distance, their
                        melodic tunes creating a symphony of nature. As the gentle breeze rustled the leaves on the
                        trees, a
                        feeling
                        of peace
                        washed over the weary traveler, reminding them of the beauty that exists in the simplest
                        moments.
                    </div>
                </div>
            </div>
            <div class="info-small-container">
                <button class="info-togglebtn">Feature F</button>
                <div class="info-wrapper">
                    <div class="info-expandable">The sun was setting on the horizon, casting a golden glow over the
                        tranquil
                        meadow.
                        Birds
                        chirped in the distance, their
                        melodic tunes creating a symphony of nature. As the gentle breeze rustled the leaves on the
                        trees, a
                        feeling
                        of
                        peace
                        washed over the weary traveler, reminding them of the beauty that exists in the simplest
                        moments.
                    </div>
                </div>
            </div>
            <div class="info-small-container">
                <button class="info-togglebtn">Feature G</button>
                <div class="info-wrapper">
                    <div class="info-expandable">The sun was setting on the horizon, casting a golden glow over the
                        tranquil
                        meadow.
                        Birds
                        chirped in the distance, their
                        melodic tunes creating a symphony of nature. As the gentle breeze rustled the leaves on the
                        trees, a
                        feeling
                        of
                        peace
                        washed over the weary traveler, reminding them of the beauty that exists in the simplest
                        moments.
                    </div>
                </div>
            </div> --}}
            {{!-- <div class="info-small-container">
                <button class="info-togglebtn">Feature H</button>
                <div class="info-wrapper">
                    <div class="info-expandable">The sun was setting on the horizon, casting a golden glow over the
                        tranquil
                        meadow.
                        Birds
                        chirped in the distance, their
                        melodic tunes creating a symphony of nature. As the gentle breeze rustled the leaves on the
                        trees, a
                        feeling
                        of
                        peace
                        washed over the weary traveler, reminding them of the beauty that exists in the simplest
                        moments.
                    </div>
                </div>
            </div> --}}
        </div>
    </div>
</div>