<div id="info-master-container">
    {{!-- <p>Info page</p> --}}
    <div id="info-big-container">
        <div id="info-big-top-container">
            <div class="info-small-container">
                <button class="info-togglebtn">Feature A</button>
                <div class="info-wrapper">
                    <div class="info-expandable">The sun was setting on the horizon, casting a golden glow over the
                        tranquil
                        meadow.
                        Birds chirped in the distance, their
                        melodic tunes creating a symphony of nature. As the gentle breeze rustled the leaves on the
                        trees, a
                        feeling
                        of peace
                        washed over the weary traveler, reminding them of the beauty that exists in the simplest
                        moments.
                    </div>
                </div>
            </div>
            <div class="info-small-container">
                <button class="info-togglebtn">Feature B</button>
                <div class="info-wrapper">
                    <div class="info-expandable">The sun was setting on the horizon, casting a golden glow over the
                        tranquil
                        meadow.
                        Birds
                        chirped in the distance, their
                        melodic tunes creating a symphony of nature. As the gentle breeze rustled the leaves on the
                        trees, a
                        feeling
                        of
                        peace
                        washed over the weary traveler, reminding them of the beauty that exists in the simplest
                        moments.
                    </div>
                </div>
            </div>
            <div class="info-small-container">
                <button class="info-togglebtn">Feature C</button>
                <div class="info-wrapper">
                    <div class="info-expandable">The sun was setting on the horizon, casting a golden glow over the
                        tranquil
                        meadow.
                        Birds
                        chirped in the distance, their
                        melodic tunes creating a symphony of nature. As the gentle breeze rustled the leaves on the
                        trees, a
                        feeling
                        of
                        peace
                        washed over the weary traveler, reminding them of the beauty that exists in the simplest
                        moments.
                    </div>
                </div>
            </div>
            <div class="info-small-container">
                <button class="info-togglebtn">Feature D</button>
                <div class="info-wrapper">
                    <div class="info-expandable">The sun was setting on the horizon, casting a golden glow over the
                        tranquil
                        meadow.
                        Birds
                        chirped in the distance, their
                        melodic tunes creating a symphony of nature. As the gentle breeze rustled the leaves on the
                        trees, a
                        feeling
                        of
                        peace
                        washed over the weary traveler, reminding them of the beauty that exists in the simplest
                        moments.
                    </div>
                </div>
            </div>
        </div>
        <div id="info-big-bottom-container">
            <div class="info-small-container">
                <button class="info-togglebtn">Feature E</button>
                <div class="info-wrapper">
                    <div class="info-expandable">The sun was setting on the horizon, casting a golden glow over the
                        tranquil
                        meadow.
                        Birds chirped in the distance, their
                        melodic tunes creating a symphony of nature. As the gentle breeze rustled the leaves on the
                        trees, a
                        feeling
                        of peace
                        washed over the weary traveler, reminding them of the beauty that exists in the simplest
                        moments.
                    </div>
                </div>
            </div>
            <div class="info-small-container">
                <button class="info-togglebtn">Feature F</button>
                <div class="info-wrapper">
                    <div class="info-expandable">The sun was setting on the horizon, casting a golden glow over the
                        tranquil
                        meadow.
                        Birds
                        chirped in the distance, their
                        melodic tunes creating a symphony of nature. As the gentle breeze rustled the leaves on the
                        trees, a
                        feeling
                        of
                        peace
                        washed over the weary traveler, reminding them of the beauty that exists in the simplest
                        moments.
                    </div>
                </div>
            </div>
            <div class="info-small-container">
                <button class="info-togglebtn">Feature G</button>
                <div class="info-wrapper">
                    <div class="info-expandable">The sun was setting on the horizon, casting a golden glow over the
                        tranquil
                        meadow.
                        Birds
                        chirped in the distance, their
                        melodic tunes creating a symphony of nature. As the gentle breeze rustled the leaves on the
                        trees, a
                        feeling
                        of
                        peace
                        washed over the weary traveler, reminding them of the beauty that exists in the simplest
                        moments.
                    </div>
                </div>
            </div>
            <div class="info-small-container">
                <button class="info-togglebtn">Feature H</button>
                <div class="info-wrapper">
                    <div class="info-expandable">The sun was setting on the horizon, casting a golden glow over the
                        tranquil
                        meadow.
                        Birds
                        chirped in the distance, their
                        melodic tunes creating a symphony of nature. As the gentle breeze rustled the leaves on the
                        trees, a
                        feeling
                        of
                        peace
                        washed over the weary traveler, reminding them of the beauty that exists in the simplest
                        moments.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>