<div id="info-master-container">
    <p>Info page</p>

    {{!-- this your button --}}
    <div>
        <button class="info-page-togglebtn">Save your favourite routes</button>

        <button class="info-page-togglebtn">Real time weather updates</button>
    </div>

</div>