<div id="landing-master-container">
    <div id="landing-header-container">
        <h1>Welcome to Nature Explorer</h1>
        <p>Your source for bicycling routes</p>
    </div>

    <div id="landing-main-container">
        <div class="landing-main-inner">
            <div class="landing-main-inner-text">
                <p>Share routes with friends</p>
                <p>View Statistics</p>
                <p>Save your favourite places</p>
            </div>

            <div class="landing-main-inner-photo">
            </div>

            <div class="landing-main-inner-text">
                <p>Calculate routes</p>
                <p>View Statistics</p>
                <p>Save your favourite places</p>
            </div>
        </div>
    </div>
</div>

<div id="landing-sub-container">
    <div id="landing-sub-calculate">
        <div class="landing-sub-inner-text">
            <p>Calculate routes</p>
        </div>

        <div id="landing-sub-photo-one"></div>

    </div>
    <div id="landing-sub-weather">
        <div class="landing-sub-inner-text">
            <p>Real-time weather updates</p>
        </div>

        <div id="landing-sub-photo-two"></div>

    </div>
    {{!-- This one still has to chang ebased on contents --}}
    <div class="landing-sub-inner">
        <div class="landing-sub-inner-text">
            <p>Calculate routes</p>
        </div>

        <div id="landing-sub-photo-three"></div>
    </div>
</div>

<div id="landing-lower-container">
    <div id="landing-lower-header">Our goal is to help you have fun on your bike</div>
    <div id="landing-lower-innertext-container">
        <div class="lower-innertext">
            {{!-- Make these cards flippable on hover --}}
            <p class="lower-innertext-header">
                Build the perfect route
            </p>
            <p>
                📌 Build the perfect route
                Find a great route, and tweak it with our planner. It's easy to find the best routes wherever you are,
                and
                our tools let you adjust difficulty and start location.
            </p>
        </div>

        <div class="lower-innertext">
            <p class="lower-innertext-header">
                Sync to your devices
            </p>
            <p>
                🔃 Our mobile app would look great on your handlebars, but we fully support and are
                integrated with all popular devices from Garmin and Wahoo.
            </p>
        </div>

        <div class="lower-innertext">
            <p class="lower-innertext-header">
                Track your stats and goals
            </p>
            <p>
                ⭐ Set a custom goal for the dates that matter to you. Keep it simple, and track
                your yearly stats, or use our analysis tools to dive deeper into your ride data.
            </p>

        </div>
    </div>