<div id="map-page-master-container">
    <div id="location-header">

    </div>
    <div id="map-places">
        <div id="locations">
            <p>Locations go here</p>
            <p>Or filter options?</p>
            <p>Or information about the ride?</p>
        </div>
    </div>

    <div id="map">
        <p>Map goes here</p>
    </div>
</div>