<div id="map-page-master-container">
    <div id="mappagecolumn">
        <div id="mappage-routeinfo">
            <div id="mappage-routeinfo-name">
                <p>Route name:</p>
                <textarea id="mappage-routename-area" placeholder="Enter a Route Name"></textarea>
            </div>

            <div id="mappage-routeinfo-distance">
                <p>Distance:</p>
                <p id="mappage-distance-label">Distance goes here</p>
            </div>

            <div id="mappage-routeinfo-ttcomplete">
                <p>Time to Complete:</p>
                <p id="mappage-ttcomplete-label">Completion time goes here</p>
            </div>

            <div id="mappagecolumn-nav-btns">
                <button id="clear-btn">Clear Map</button>
                <button id="save-btn">Save a route</button>
            </div>

        </div>
    </div>

    <div id="map">
    </div>
</div>