<header>{{siteInfo.title}}</header>
<nav id="nav-bar">
	<ul id="root-nav">
		{{#each pages}}
		<li class="navigation-li" data-link="{{name}}">{{name}}</li>
		{{/each}}
	</ul>
</nav>

<main id="root-main">
	<p>this is root</p>
</main>