{{!-- <header>{{siteInfo.title}}</header> --}}
{{!-- rename to top-nav-bar later--}}
<div id="nav-bar">
	<div id="languages">
		<p>FR/EN</p>
	</div>
	<div id="logo">
		<p>Logo Here as img</p>
	</div>
	<ul id="top-root-nav">
		{{#each pages}}
		<li class="navigation-li" data-link="{{name}}">{{name}}</li>
		{{/each}}
	</ul>

	<div class="loginregister">
		<button id="btn-login">Login</button>
		<button id="btn-register">Register</button>
	</div>
</div>

<div id="bottom-nav-bar">
	<div id="weather-container">
		<p>This is where the weather goes</p>
	</div>
</div>

<div id="logindialog-background">
	<div id="logindialog">
		<button id="exitlogin">X</button>
		<div id="login-form">
			<form method="post">
				<p>Login:</p>
				<label for="email" class="label">Username:</label>
				<input type="email" id="email" name="email" required asp-for="Email">

				<label for="password" class="label">Password:</label>
				<input type="password" id="password" name="password" required asp-for="Password">

				<input type="submit" value="Login" class="submitbutton" />
			</form>
		</div>
	</div>
</div>

<main id="root-main">
	<p>this is root</p>
</main>