{{!-- <header>{{siteInfo.title}}</header> --}}
{{!-- rename to top-nav-bar later--}}
<div id="nav-bar">
	<div id="languages">
		<p>FR/EN</p>
	</div>
	<div id="logo">
		<p>Logo Here as img</p>
	</div>
	<ul id="top-root-nav">
		{{#each pages}}
		<li class="navigation-li" data-link="{{name}}">{{name}}</li>
		{{/each}}
	</ul>

	<div class="loginregister">
		<button id="btn-login">Login or Register</button>
	</div>
</div>

<div id="bottom-nav-bar">
	<div id="weather-container">
		<p>This is where the weather goes</p>
	</div>
</div>

<div id="logindialog-background">
	<div id="login-dialog">
		<div id="login-wrapper">
			<div id="login-form">
				<form method="post">
					<p>Login:</p>
					<label for="email" class="label">Username:</label>
					<input type="email" id="email" name="email" required asp-for="Email">

					<label for="password" class="label">Password:</label>
					<input type="password" id="password" name="password" required asp-for="Password">

					<input type="submit" value="Login" class="submitbutton" />
				</form>
			</div>

			<div id="register-form">
				<form method="post">
					<p>Register:</p>
					<label for="firstname" class="label">Enter your first name:</label>
					<input type="firstname" id="firstname" name="firstname" required asp-for="Firstname">

					<label for="lastname" class="label">Enter your last name:</label>
					<input type="lastname" id="lastname" name="lastname" required asp-for="Lastname">

					<label for="email" class="label">Enter your email:</label>
					<input type="email" id="email" name="email" required asp-for="Email">

					<label for="username" class="label">Enter a username:</label>
					<input type="username" id="username" name="username" required asp-for="Username">

					<label for="password" class="label">Enter a Password:</label>
					<input type="password" id="password" name="password" required asp-for="Password">

					{{!-- double check this line --}}
					<input type="submit" value="Login" class="submitbutton" />
				</form>
			</div>
		</div>
		<button id="exitlogin">X</button>


	</div>
</div>

<main id="root-main">
	<p>this is root</p>
</main>