<div id="userpage-master-container">
    <div id="userpage-column">
        <p>Image of user here</p>
        <p>Saved Routes</p>
        <p>Daily Log</p>
        <p>Monthy Log</p>
        <p>Goals</p>
    </div>

    <div id="userpage-info">
        <div id="user-banner">
            <p>Welcome {{username}}, you've logged ###km this month</p>
        </div>

        <div id="user-route">
            <p>Saved route is displayed here</p>
            <p>When an element on the left is changed, this is where it appears</p>
        </div>
    </div>
</div>